@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.parent-upload-wrapper {
  /* margin: 2em; */
  padding: 20px 0;
  text-align: center;
  font-family: 'Open Sans';
  background: #f7fafd;
}
.upload-wrapper {
  background: #343a40;
  margin: 30px auto;
  max-width: 650px;
  padding: 20px;
  border-radius: 5px;
}

hr {
  background-color: #fff;
}
header {
  padding: 10px 0 30px;
}
#show-text {
  padding: 22px 0 5px;
  overflow-y: auto;
  max-height: 400px;
  width: 100%;
}
.error {
  padding: 11px 30px 10px 30px;
  border: 2px solid #ff3333;
  border-radius: 10px;
  width: 50%;
  display: block;
  color: #ffff;
  background-color: #ff3333;
  font-weight: bold;
  margin-left: 23vh;
}
.upload-wrapper h1 {
  font-size: 22px;
  color: #fff;
}
a {
  color: blue;
  font-size: 13px;
  text-decoration: none;
}
input[type='file']::file-selector-button {
  margin-top: 20px;
  padding: 11px 30px 10px 30px;
  background-color: #ffff;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  border: 2px solid #ffff;
  margin-left: 50px;
}

input[type='file'] {
  color: #ffff;
}

.bttn {
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
  border: 2px solid #ffff;
  background-color: #fff;
  color: black;
  font-weight: bold;
  width: 60%;
}
.bttn:hover {
  background-color: #fdad0f;
  border-color: #ffbb33;
  color: #ffff;
}

.show-text {
  text-align: center;
}

.icon {
  margin-right: 55px;
  color: #ffff;
}

.download {
  color: #000;
  border-radius: 5px;
  margin-right: auto;
  margin-left: auto;
  border: 2px solid #ffff;
  background-color: #ffff;
  width: 60%;
  height: 40px;
}

#downloadAnchorElem {
  margin: 10px 10px 10px 10px;
  color: #000;
  text-decoration: none;
}

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}




@media screen and (max-width: 686px) {
  .upload-wrapper {
    max-width: 500px;
  }
}

@media screen and (max-width: 528px) {
  .upload-wrapper {
    max-width: 400px;
  }
}
